h1 {text-align: center;}
h1 {
    text-shadow: 2px 2px 5px blue;
  }
  .button {
    
    border: none;
   
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    position: relative;
    top: -730px;
    left: 1000px;
  }